*{ 
    margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 5px 20px;
    column-gap: 5px;
    justify-content: space-between;
}
.nav-item{
    color: rgb(0, 0, 0);
    font-family: monospace;
}
.nav-item-container{
    display: flex;
    column-gap: 15px;
}
button{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    border-radius: 5%;
    font-family: monospace;
}
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    justify-self: center;
}
.width-picture{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.footer{
    display: flex;
    justify-content: center;
}